@using DigitalEventPlaner.Web.Models.Services
@model List<ServiceWrapperViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_ServiceLayout";
}

<h3>Manage Services</h3>


<input type="button" class="btn btn-outline-primary btn-sm" value="Add service" onclick="window.location='@Url.Action("AddService", "ServiceManage")'" />

<div class="list-group manage-service-container">
@foreach (var item in Model)
{
    <div class="list-group-item service-container">
        <div> <a href="@Url.Action("ServiceDetails", "ServiceManage", new { item.Service.Id })">@item.Service.Name</a></div>
        <div>
            @Html.ActionLink("AddPackage", "AddServicePackage", "ServiceManage", new { item.Service.Id }, new { @class = "btn btn-outline-primary btn-sm" })
            @Html.ActionLink("Edit", "EditService", "ServiceManage", new { item.Service.Id }, new { @class = "btn btn-outline-primary btn-sm" })
            @Html.ActionLink("Delete", "DeleteService", "ServiceManage", new { item.Service.Id }, new { @class = "btn btn-outline-primary btn-sm" })
        </div>
    </div>
    <div class="list-group">
    @foreach (var package in item.ServicePackages)
    {
        <div class="list-group-item sublist-item">
            <div>@package.Description</div>
            <div>
                @Html.ActionLink("Edit", "EditServicePackage", "ServiceManage", new { package.Id }, new { @class = "btn btn-outline-primary btn-sm" })
                @Html.ActionLink("Delete", "DeleteServicePackage", "ServiceManage", new { package.Id }, new { @class = "btn btn-outline-primary btn-sm" })
            </div>
        </div>
    }
    </div>
}
</div>

@Html.ActionLink("View deleted services", "DeletedServices", "ServiceManage", new { @class = "btn btn-primary" })

