@using DigitalEventPlaner.Web.Models.User
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container container-inside">
    <div class="font-quicksand">CUSTOMER PROFILE</div>
    <div class="profile-info-container">
        <div class="profile-wrapper-big">
            <div class="profile-middle-big">
                <div class="profile-box-big">
                    <img src="@Model.ProfilePictureUrl" class="profile-image" />
                </div>
            </div>
        </div>
        <div class="profile-info">
            <div class="info">
                <div class="font-quicksand-bold-small">Username:</div><div class="font-quicksand-small"> @Model.UserName</div>
            </div>
            <div class="info">
                <div class="font-quicksand-bold-small">FirstName:</div><div class="font-quicksand-small"> @Model.FirstName</div>
            </div>
            <div class="info">
                <div class="font-quicksand-bold-small">LastName:</div><div class="font-quicksand-small"> @Model.LastName</div>
            </div>
            <div class="info">
                <div class="font-quicksand-bold-small">Email:</div><div class="font-quicksand-small"> @Model.Email</div>
            </div>
            <div class="info">
                <div class="font-quicksand-bold-small">Phone:</div><div class="font-quicksand-small"> @Model.Phone</div>
            </div>
            <div class="info">
                <div class="font-quicksand-bold-small">Address:</div><div class="font-quicksand-small"> @Model.Address</div>
            </div>
        </div>
    </div>
</div>


<form method="post" asp-controller="CustomerProfile" asp-action="Upload" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="imagelist" accept="image/x-png,image/gif,image/jpeg, image/jpg" multiple />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

@Html.ActionLink("Generate", "GenerateEvents", "Account")

@Html.ActionLink("Estimate", "EstimateBuget", "Account")

@if (ViewData["SmartRate"] != null)
{
    <p>Smart rate test @ViewData["SmartRate"]</p>
}