@using DigitalEventPlaner.Web.Models.User
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h3>Customer Profile</h3>

<div class="profile-info-container">
    @foreach (var uri in Model.ProfilePictureUrl)
    {
        <div class="profile-image-container">
            <img src="@uri" class="profile-image" />
        </div>

    }
    <div class="profile-info">
        <div>Username: @Model.UserName</div>
        <div>FirstName: @Model.FirstName</div>
        <div>LastName: @Model.LastName</div>
        <div>Email: @Model.Email</div>
        <div>Phone: @Model.Phone</div>
        <div>Address: @Model.Address</div>
    </div>
</div>


<form method="post" asp-controller="CustomerProfile" asp-action="Upload" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="imagelist" accept="image/x-png,image/gif,image/jpeg, image/jpg" multiple />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

@Html.ActionLink("Generate", "GenerateEvents", "Account")

@Html.ActionLink("Estimate", "EstimateBuget", "Account")

@if (ViewData["SmartRate"] != null)
{
    <p>Smart rate test @ViewData["SmartRate"]</p>
}