@using DigitalEventPlaner.Web.Models.Services
@model ServiceWrapperViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomerLayout";
}

<div class="container container-inside">
    <div class="font-quicksand page-title">SERVICE DETAILS</div>

    <div style="display:flex">
        <div class="font-quicksand-bold-small" style="margin-right:15px;">Service name: @Model.Service.Name</div>
    </div>

    <div><textarea class="form-control description" readonly>@Model.Service.Description</textarea></div>

    <div style="display:flex;margin-bottom:20px;align-items: center;">
        <div class="font-quicksand" style="margin-right:20px">PACKAGES</div>
    </div>

    <table class="table package-details">
        <thead>
            <tr class="package-table-header">
                <th scope="col">Description</th>
                <th scope="col" class="small-column" title="Price per participant">PPP</th>
                <th scope="col" class="small-column" title="Maximum capacity">MC</th>
                <th scope="col" class=""></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var package in Model.ServicePackages)
            {
                <tr class="package-table-body">
                    <td style="width: 2000px;"><textarea class="form-control" readonly>@package.Description</textarea></td>
                    <td class="small-column">@package.PricePerParticipant</td>
                    <td class="small-column">@package.MaxCapacity</td>
                    <td class="buttons-column">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
