@using DigitalEventPlaner.Web.Models.EventPlanning
@model EventPlanningStep2ViewModel
@{
    ViewData["Title"] = "Profile Page";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container container-inside">
    <div class="font-quicksand page-title">STEP 2</div>
    <div class="font-quicksand-small">Service type to choose: @Model.ServiceType</div>
    <div class="font-quicksand-small">Buget estimation: @Model.Step1.Estimation</div>
    <div class="font-quicksand-small">Buget needed: @Model.BugetNeeded</div>

    <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="ServiceSelectedIndex" value="@Model.ServiceSelectedIndex" />
        <input type="hidden" name="ServiceType" value="@Model.ServiceType" />
        <input type="hidden" name="BugetNeeded" value="@Model.BugetNeeded" />
        <div class="list-group manage-service-container">
            @foreach (var item in Model.ServiceWrappers)
            {
                <div class="planning-service-info" style="display:flex">
                    <div class="user-info">
                        <div class="info-header">
                            <div class="profile-wrapper">
                                <div class="profile-middle">
                                    <div class="profile-box">
                                        <img src="@item.ProfilePictureUri" class="profile-image" />
                                    </div>
                                </div>
                            </div>

                            <div class="user-name">
                                <div class="font-quicksand-bold-small" style="margin-top: 5px;">@item.User.UserName</div>
                            </div>
                        </div>

                        <div>
                            <div class="font-quicksand-bold-small" style="float:left;margin-right:5px;">Address:</div><div class="font-quicksand-small"> @item.User.Address</div>
                        </div>
                        <div>
                            <div class="font-quicksand-bold-small" style="float:left;margin-right:5px;">Email:</div><div class="font-quicksand-small"> @item.User.Email</div>
                        </div>
                        <div>
                            <div class="font-quicksand-bold-small" style="float:left;margin-right:5px;">Phone:</div><div class="font-quicksand-small"> @item.User.Phone</div>
                        </div>


                    </div>
                    <div class="service-wrapper">
                        <div class="service-container">
                            <div class="font-quicksand-bold-small"> <a href="@Url.Action("ServiceDetails", "EventPlanning", new { item.Service.Id })">@item.Service.Name</a></div>
                            @if (item.Service.NumberOfRatings > 0)
                            {
                                <div style="display:flex;">
                                    <div class="font-quicksand-bold-small" style="margin-right:5px;">Rating:</div><div class="font-quicksand-small">@Math.Round(item.Service.SmartRate * 5 / item.Service.NumberOfRatings, 1, MidpointRounding.ToEven)/5</div>
                                </div>
                            }
                            else
                            {
                                <div style="display:flex;">
                                    <div class="font-quicksand-small">No rating</div>
                                </div>
                            }
                        </div>
                        @if (item.ServicePackages.Count() > 0)
                        {
                            <div class="list-group">

                                @foreach (var package in item.ServicePackages)
                                {
                                    <div class="sublist-item">
                                        <div style="display: flex;align-items: center;width:60%;">
                                            <input name="ServicePackageSelected" type="checkbox" value="@package.Id" style="margin-right:10px;"/>
                                            <textarea class="form-control" readonly>@package.Description</textarea>
                                        </div>
                                        
                                        <div class="font-quicksand-bold-small">
                                            <div style="display:flex;flex-direction:column">
                                                <div>PPP: @package.PricePerParticipant</div>
                                                <div>MC: @package.MaxCapacity</div>
                                            </div>

                                        </div>
                                    </div>
                                }

                            </div>
                        }
                    </div>
                </div>

            }
            <span asp-validation-for="ServicePackageSelected" class="text-danger"></span>
        </div>

        <button class="btn btn-outline-primary">Submit</button>
    </form>

</div>
