@using DigitalEventPlaner.Web.Models.MyEvents
@model List<EventRequestViewModel>
@{
    ViewData["Title"] = "Profile Page";
    Layout = "_CustomerLayout";
}

<div class="container container-inside">
    <div class="font-quicksand page-title">CALENDAR</div>

    @if (Model.Count() > 0)
    {
        @foreach (var request in Model)
        {
            <div class="planning-service-info" style="display:flex">
                <div class="user-info">
                    <div class="info-header">
                        <div class="profile-wrapper">
                            <div class="profile-middle">
                                <div class="profile-box">
                                    <img src="@request.ProfilePicture" class="profile-image" />
                                </div>
                            </div>
                        </div>

                        <div class="user-name">
                            <div class="font-quicksand-bold-small" style="margin-top: 5px;">@request.User.UserName</div>
                        </div>
                    </div>

                    <div>
                        <div class="font-quicksand-bold-small" style="float:left;margin-right:5px;">Event date:</div><div class="font-quicksand-small"> @request.EventDate.ToString("dd.MM.yyyy")</div>
                    </div>
                    <div>
                        <div class="font-quicksand-bold-small" style="float:left;margin-right:5px;">Event type:</div><div class="font-quicksand-small"> @request.EventType</div>
                    </div>
                    <div>
                        <div class="font-quicksand-bold-small" style="float:left;margin-right:5px;">Address:</div><div class="font-quicksand-small"> @request.User.Address</div>
                    </div>
                    <div>
                        <div class="font-quicksand-bold-small" style="float:left;margin-right:5px;">Email:</div><div class="font-quicksand-small"> @request.User.Email</div>
                    </div>
                    <div>
                        <div class="font-quicksand-bold-small" style="float:left;margin-right:5px;">Phone:</div><div class="font-quicksand-small"> @request.User.Phone</div>
                    </div>


                </div>
                <div class="service-wrapper">
                    <div class="service-container">
                        <div class="font-quicksand-bold-small">@request.ServiceWrapper.Service.Name</div>
                    </div>
                    @if (request.ServiceWrapper.ServicePackages.Count() > 0)
                    {
                        <div class="list-group">

                            @foreach (var package in request.ServiceWrapper.ServicePackages)
                            {
                                <div class="sublist-item">
                                    <div style="display: flex;align-items: center;width:100%;">
                                        <textarea class="form-control" readonly>@package.Description</textarea>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div class="font-quicksand page-title">No events comming.</div>
    }
</div>
